.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

/* TORNADO RESPONSIVO */

@media (max-width: 768px){
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr; /* não vai m ais ter duas colunas somente uma ocupando a largura toda */
  }
}
